@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  height: 100%;
}

.main .mask,
.main .body {
  width: 100%;
  height: 100%;
  cursor: default;
}

.main .mask p,
.main .body p {
  width: 1000px;
  padding: 40px;
}

.main .mask {
  mask-image: url('./images/mask.svg');
  mask-repeat: no-repeat;
  mask-size: 50px;
  background: #4ade80;
  position: absolute;
  color: white;
}